[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "==2.1.3"
tensorflow-gpu = "==1.4.0"
nesmdb = "*"
sounddevice = "*"
matplotlib = "*"
soundfile = "*"
seaborn = "*"
pydot = "*"
graphviz = "*"

[requires]
python_version = "2.7"
